<div class="order-title">
  <h1 class="text-order-title">Detalle de la orden:</h1>
  <hr class="order-separator" />
</div>
<div *ngFor="let detail of orderMesa">
  <div class="order-detail">
    <h2>{{ detail.name }}</h2>
    <div class="add-and-remove">
      <img
        class="remove-img"
        src="../../../../../assets/remove_circle_outline-24px.svg"
        (click)="removeProducts(detail)"
        width="35px"
        height="35px"
      />
      <h2>{{ detail.quantity }}</h2>
      <img
        class="add-img"
        src="../../../../../assets/add_circle_outline-24px.svg"
        (click)="addProducts(detail)"
        width="35px"
        height="35px"
      />
      <div *ngFor="let extra of detail.extras">
        <div *ngIf="extra.add">
          <h2>{{ extra.name }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="total-detail">
    <h3>Total:</h3>
    <h4>${{ detail.price * detail.quantity }}</h4>
  </div>
  <hr />
</div>
