<div class="order-title">
  <h1 class="text-order-title">Detalle de la orden:</h1>
  <hr class="order-separator" />
</div>
<div *ngFor="let detail of orderMesa">
  <h2>Item:{{ detail.name }}</h2>
  <img
    src="../../../../../assets/remove_circle_outline-24px.svg"
    (click)="removeProducts(detail)"
  />
  <h2>{{ detail.quantity }}</h2>
  <img
    src="../../../../../assets/add_circle_outline-24px.svg"
    (click)="addProducts(detail)"
  />
  <h2>Precio: {{ detail.price * detail.quantity }}</h2>
</div>
