<h1>Mesas</h1>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa1</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa2</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa3</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa4</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa5</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa6</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa7</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa8</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa9</button></a>
<a [routerLink]="'/tables/1//menu/menuSelect'"> <button class="btnTable">mesa10</button></a>
