<app-header></app-header>
<div class="pedidos">
  <div class="title">
    <h1>Pedidos Pendientes</h1>
  </div>
  <div class="list">
    <ng-container *ngFor="let order of orders">
      <div class="order" *ngIf="!order.ready">
        <div class="table-number">
          <h2>{{ order.name }} - {{ order.date | date: "shortTime" }}</h2>
        </div>
        <div class="order-container">
          <div class="order-card" *ngFor="let detail of order.orders">
            <h2>{{ detail.name }}</h2>
            <p>
              Descripción: <span> {{ detail.selectedOption }}</span>
            </p>
            <p>
              Cantidad: <span> {{ detail.quantity }}</span>
            </p>
            <p>
              Extras:
              <span *ngFor="let extra of detail.extras">
                <ng-container *ngIf="extra.add">
                  {{ extra.name }}
                </ng-container>
              </span>
            </p>
            <hr />
          </div>
          <div>
            <div class="extra-button-container">
              <button
                class="extra-button"
                (click)="order.doing = !order.doing"
                [ngClass]="{ blueBackground: order.doing }"
              >
                Preparar
              </button>
              <button
                class="extra-button"
                (click)="order.done = !order.done"
                [ngClass]="{ blueBackground: order.done }"
              >
                Listo
              </button>
            </div>

            <div class="final-button">
              <button
                class="orangeBtn"
                *ngIf="order.doing && order.done"
                (click)="order.ready = true"
              >
                Enviar Pedido
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>
