:root {
  --blue: #2ab7f6;
  --orange: #ff8246;
  --lightBlue: rgba(1, 169, 244, 0.43);
  --darkGray: #717171;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
}

h1,
li,
ul,
h2 {
  font-style: normal;
  color: #555454;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: inherit;
}

nav ul {
  list-style: none;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.blueBtn {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.orangeBtn {
  width: 276px;
  height: 71px;
  border-radius: 8px;
  background-color: var(--orange);
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 0px;
}

input {
  vertical-align: middle;
}

.orangeBtnMenu {
  width: 251px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--orange);
  color: white;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

h3 {
  font-size: 13px;
  color: var(--darkGray);
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 13px;
  color: var(--blue);
  font-weight: bold;
  margin: 0;
}

.extra-button {
  border-radius: 4px;
  border: solid 1px #d6d6d6;
  background-color: #ffffff;
  color: var(--blue);
  font-size: 13px;
  padding: 7px 25px;
}

.order-container {
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  height: 70vh;
  overflow-y: auto;
  padding: 20px;
}

.blueBackground {
  color: #ffffff;
  background-color: var(--blue);
}
