<ul class="group-items">
  <li class="item-card" *ngFor="let product of products">
    <div class="img-select">
      <img class="item-img" src="{{ product.image }}" alt="" />
      <div class="item-select-price">
        <select class="item-select" name="itemSelect" id="itemSelect">
          <option
            *ngFor="let option of product.options"
            ng:repeat="option"
            label=""
            value="-"
            >{{ option }}
          </option>
        </select>
        <h4 class="item-price">${{ product.price }}</h4>
      </div>
    </div>

    <h2>{{ product.name }}</h2>
    <h3>{{ product.description }}</h3>
    <br />
    <button (click)="addProducts(product)" class="orangeBtn">
      + Añadir al pedido
    </button>
  </li>
</ul>
