.menuOption {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.blueBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  max-width: cal(50% - 8px);
  opacity: 0.5;
  cursor: pointer;
}

.blueBtn:first-child {
  margin-right: 16px;
}

.blueBtn.active {
  opacity: 1;
}
